@font-face {
  font-family: 'FiraCode Nerd Font';
  src: url('./FiraCodeNerdFont-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FiraCode Nerd Font';
  src: url('./FiraCodeNerdFont-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
